<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Title</title>
    <link rel="stylesheet" href="../style.css?v=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/tab2.js"></script>
</head>

<body class="page">

    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loader-section left-section"></div>
        <div class="loader-section right-section"></div>
    </div>
    <div class="offwrap"></div>
    <nav class="right-menu-toggle">
        <div class="close-btn">
            <a class="nav-close">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>
        <div class="right-menu-content">
            <span>Fill out your documents digitally,<br>and open your account right away by having a video call with the Investment Representative between 09:30 - 18:00!</span>
            <div class="btn-box arrow"><a href="#">Open an Account via Video Call<i class="fa-solid fa-video"></i></a></div>
            <span>(between 09:30 - 18:00)</span>
            <br>
            <span>Fill out the contact form, and a Investment Representative will call you to guide you through the process of completing your documents together!</span>
            <div class="btn-box arrow"><a href="./sign-up.html">Fill Out the Form<i class="fa-solid fa-user-pen"></i></a></div>
        </div>
    </nav>
    <div id="search-popup" class="search-popup">
        <div class="popup-inner">
            <div class="upper-box">
                <figure class="logo-box"><a href="#"><img src="../img/logo.png" alt="logo"></a></figure>
                <a id="close-search"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="overlay-layer"></div>
            <div class="container">
                <form name="frmara" class="frmara" action="" method="get"
                    onsubmit="return doValidateAra('frmara');">
                    <div class="form-group">
                        <fieldset>
                            <input type="text" name="q" autocomplete="off" maxlength="200" placeholder="Search...">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <header class="main-header">
        <div class="header-top">
            <div class="container">
                <div class="top-inner">
                    <ul class="info">
                        <li><i class="fa-solid fa-phone"></i><a href="tel:902120000000">+90 212 000 0000</a></li>
                        <li><i class="fa-solid fa-envelope"></i><a href="mailto:contact__ATtinfo__DOTcom"
                                onclick="this.href=this.href.replace(/__AT/,'@').replace(/__DOT/,'.').replace(/__DOT/,'.');">contact@info.com</a>
                        </li>
                    </ul>
                    <div class="top-right">
                        <div class="login">
                            <a href="#">Login</a>
                        </div>
                        <div class="top-login">
                            <a href="javascript:void(0);" class="nav-expander2">Sign Up</a>
                        </div>
                        <div class="language">
                            <a href="/?lang=en" class="language-btn"><i class="fa-solid fa-globe"></i>English</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-lower">
            <div class="container">
                <div class="lower-inner">
                    <div class="logo-box">
                        <figure class="logo">
                            <a href="../index.html">
                                <img src="../img/logo.png" alt="logo">
                            </a>
                        </figure>
                    </div>
                    <div class="menu-area">
                        <nav class="main-menu">
                            <div class="navbar-collapse">
                                <ul class="navigation">
                                    <li class="dropdown">
                                        <a href="./accordion-page.html">Corporate<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./accordion-page.html">Accordion Page</a></li>
                                            <li><a href="./basic-page.html">Basic Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./about-us-page.html">About Us<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./about-us-page.html">About Us Page</a></li>
                                            <li><a href="./board-members.html">Board Members</a></li>
                                            <li><a href="./personal-data.html">Personal Data Processing Clarification</a></li>
                                            <li><a href="./branches.html">Branches</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#services">Services</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./daily-news.html">Daily News<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./daily-news.html">Daily News</a></li>
                                            <li><a href="./daily-news-second.html">Daily News 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <ul class="menu-right-content">
                        <li class="search-box search-toggler">
                            <i id="search-btn" class="fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="btn-box">
                            <a href="javascript:void(0);" class="nav-expander">Sign Up</a>
                        </li>
                        <a href="javascript:void(0);" class="mobile-nav-toggler">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sticky-header" id="myStickyHeader">
            <div class="container">
                <div class="lower-inner">
                    <div class="logo-box">
                        <figure class="logo">
                            <a href="../index.html">
                                <img src="../img/logo.png" alt="logo">
                            </a>
                        </figure>
                    </div>
                    <div class="menu-area">
                        <nav class="main-menu">
                            <div class="navbar-collapse">
                                <ul class="navigation">
                                    <li class="dropdown">
                                        <a href="./accordion-page.html">Corporate<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./accordion-page.html">Accordion Page</a></li>
                                            <li><a href="./basic-page.html">Basic Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./about-us-page.html">About Us<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./about-us-page.html">About Us Page</a></li>
                                            <li><a href="./board-members.html">Board Members</a></li>
                                            <li><a href="./personal-data.html">Personal Data Processing Clarification</a></li>
                                            <li><a href="./branches.html">Branches</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#services">Services</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./daily-news.html">Daily News<i class="fa-solid fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="./daily-news.html">Daily News</a></li>
                                            <li><a href="./daily-news-second.html">Daily News 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="./contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <ul class="menu-right-content">
                        <li class="search-box search-toggler">
                            <i id="search-btn2" class="fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li class="btn-box">
                            <a href="javascript:void(0);" class="nav-expander">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="page-title">
        <div class="bg-layer" style="background-image: url(../img/bg-2.jpg);"></div>
        <div class="container">
            <h1>Sign Up</h1>
            <ul class="bread-crumb">
                <li><a href="../index.html">Home</a></li>
            </ul>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="account-text">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>    
                </div>
                <div class="account-row">
                    <div class="account-left">
                        <div class="account_step animated fadeInUp delay-1s account_step_type1">
                            <div class="account_step_icon">01</div>
                            <div class="account_step_title">Fill Out<br>The Form</div>
                        </div>
                        <div class="account_step animated fadeInUp delay-2s account_step_type2">
                            <div class="account_step_icon">02</div>
                            <div class="account_step_title">A representative will call you</div>
                            <div class="account_step_content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="account_step animated fadeInUp delay-3s account_step_type3">
                            <div class="account_step_icon">03</div>
                            <div class="account_step_title">Documents Check</div>
                            <div class="account_step_content">
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <div class="account_step animated fadeInUp delay-4s account_step_type4">
                            <div class="account_step_icon">04</div>
                            <div class="account_step_title">Opening an Account</div>
                            <div class="account_step_content">
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="account-right">
                        <div class="account-form-container">
                            <form name="accountform" class="account-form">
                                <div class="row">
                                    <h2 class="account-secondary">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h2>
                                    <div class="inner-row">
                                        <label>Name *</label>
                                        <input type="text" name="name" id="name" placeholder="Name" maxlength="50" value="">
                                    </div>
                                    <div class="inner-row">
                                        <label>Surname *</label>
                                        <input type="text" name="surname" id="surname" placeholder="Surname" maxlength="50" value="">
                                    </div>
                                    <div class="inner-row">
                                        <label>E-Mail *</label>
                                        <input type="text" name="email" id="email" placeholder="E-Mail" maxlength="50" value="">
                                    </div>
                                    <div class="inner-row">
                                        <label>Phone Number</label>
                                        <input type="tel" name="phone" id="phone" placeholder="Phone Number" value="">
                                    </div>
                                    <div class="inner-row row-width">
                                        <label>Choose an option *</label>
                                        <select name="ilgialanlari" class="ilgialanlari">
                                            <option value="">-</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </div>
                                    <div class="inner-row row-width">
                                        <label class="checkbox">
                                            <input type="checkbox" name="kvkk">
                                            <div id="checkbox"></div>
                                            <span><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#myModal">See Personal Data Usage</a> Here.</span>
                                        </label>
                                    </div>
                                    <div class="inner-row row-width">
                                        <label class="checkbox">
                                            <input type="checkbox" name="kvkk2">
                                            <div id="checkbox"></div>
                                            <div class="kvkk2-check">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#myModal"> Lorem ipsum dolor sit amet, consectetur</a> adipiscing elit.
                                            </div>
                                        </label>
                                    </div>
                                    <div class="btn-row btn-row-margin">
                                        <button type="submit" class="btn-send">APPLY</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="pattern-layer" style="background-image: url('../img/footer-bg.png');"></div>
        <div class="container">
            <div class="logo-container">
                <a href="../index.html">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <div class="footer-content">
                <div class="flex-content">
                    <div class="left">
                        <div class="title">
                            <h3>Company Full Name Here</h3>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i>Linkedin</a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i>Youtube</a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <div class="right-flex">
                            <div class="menu">
                                <div class="menu-title">
                                    <h3>Menu</h3>
                                </div>
                                <div class="menu-content">
                                    <ul class="list">
                                        <li><a href="./accordion-page.html">Corporate</a></li>
                                        <li><a href="./about-us-page.html">About Us</a></li>
                                        <li><a href="#services">Services</a></li>
                                        <li><a href="./daily-news.html">Daily News</a></li>
                                        <li><a href="./contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-contact">
                                <div class="title">
                                    <h3>Contact Us</h3>
                                </div>
                                <ul class="info-list">
                                    <li><i class="fa-solid fa-location-dot"></i>1234 Elm Street Apt. 567 Springfield, IL 62704 USA</li>
                                    <li><i class="fa-solid fa-phone"></i><a href="tel:902120000000">+90 212 000 0000</a></li>
                                    <li><i class="fa-solid fa-envelope"></i></i><a href="mailto:contact__ATinfo__DOTcom" onclick="this.href=this.href.replace(/__AT/,'@').replace(/__DOT/,'.').replace(/__DOT/,'.');">contact@info.com</a>
                                    </li>
                                    <li><i class="fa-solid fa-arrow-right"></i></i><a href="./branches.html">Other Branches</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="bottom-flex">
                    <div class="bottom-left">
                        <p>Copyright © 2024</p>
                    </div>
                    <div class="bottom-right">
                        <ul class="footer-nav">
                            <li><a href="./personal-data.html">Personal Data Processing Clarification</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="go-top" id="goTop"><i class="fas fa-arrow-up"></i></div>
    <div class="cookie" id="cookie-policy">
        <div class="cookie-text">
            <p>We use cookies to improve your experience on our site, analyze traffic, and personalize content. By continuing to browse, you agree to our use of cookies. You can change your cookie settings at any time in your browser.</p>
        </div>
        <div class="cookie-btns">
            <button class="cookie-btn accept" onclick="acceptCookies()">Accept Cookies</button>
            <button class="cookie-btn reject" onclick="rejectCookies()">Reject Cookies</button>
        </div>
    </div>
</body>

</html>